/* <======== Importing Google-Fonts ========> */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.font-sans {
  font-family: 'DM Sans', sans-serif;
}


/* <======== Importing Tailwind-CSS ========> */
@import 'tailwindcss';


/* <======== Importing SwiperJS-CSS ========> */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.services-container .swiper-wrapper {
  width: 840px;
}

.clients-review-container .swiper-wrapper {
  width: 780px;
  padding-left: 90px;
  display: flex;
  justify-content: start;
}


/* <======== Configuring CSS-Animations ========> */
@keyframes leftToRightAnimation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(40px);
  }
}

.leftToRightAnimation {
  animation: leftToRightAnimation 3s infinite alternate;
}

@keyframes topToDownAnimation {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(40px);
  }
}

.topToDownAnimation {
  animation: topToDownAnimation 3s infinite alternate;
}

@keyframes pulseAnimation {
  0% {
    box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 0px;
  }

  70% {
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 45px;
  }

  100% {
    box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 0px;
  }
}

.pulseAnimation {
  animation: 1.7s ease 0s infinite alternate none running pulseAnimation;
}


/* <======== Configuring Custom-Classes ========> */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-hover::after {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0%;
  height: 100%;
  content: "";
  background: #16171A;
  transition: all 500ms ease-in-out;
}

.btn-hover:hover::after {
  left: 0%;
  right: auto;
  width: 100%;
}

.btn-hover-reverse::after {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0%;
  height: 100%;
  content: "";
  background: #DD0733;
  transition: all 500ms ease-in-out;
}

.btn-hover-reverse:hover::after {
  left: 0%;
  right: auto;
  width: 100%;
}

.header-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blogs-box-shadow {
  box-shadow: 2px 3.464px 60px 0px rgba(18, 14, 14, 0.06);
}

.contact-box-shadow {
  box-shadow: 0px 4px 60px 0px rgba(22, 23, 26, 0.06);
}

.services-box-shadow {
  box-shadow: 0px 6px 20px 0px rgba(35, 35, 49, 0.08);
}

.services-box-shadow-hover:hover {
  box-shadow: 0px 6px 20px 0px rgba(35, 35, 49, 0.08);
}

.hero-bg {
  background: url('./assets/hero-bg.png');
  background-size: 100% 100%;
}

.about-bg {
  background: url('./assets/about-bg.png');
  background-size: 100% 100%;
}

.services-bg {
  background: url('./assets/services-bg.png');
  background-size: 100% 100%;
}

.choose-us-bg {
  background: url('./assets/choose-us-bg.png');
  background-size: 100% 100%;
}

.choose-us-bg-2 {
  background: url('./assets/choose-us-banner-2.jpg');
  background-size: 100% 100%;
}

.clients-review-bg {
  background: url('./assets/clients-review-bg.png');
  background-size: 100% 100%;
}

.clients-review-box-bg {
  background: url('./assets/clients-review-box-bg.png');
  background-size: 100% 100%;
}

.footer-bg {
  background: url('./assets/footer-bg.png');
  background-size: 100% 100%;
}

.not-found-bg {
  background: url('./assets/not-found-bg.jpg');
  background-size: 100% 100%;
}

.experience-btn-bg {
  background: url('./assets/experience-btn-bg.jpg');
  background-size: 100% 100%;
}